#include <os2.h>
#include "PM-ARP.h"

ICON 1 "PM-ARP.ico"

DLGTEMPLATE DIALOGWIN PRELOAD MOVEABLE
BEGIN
  DIALOG Title, DIALOGWIN, 50, 50, 285, 150, WS_VISIBLE,
         FCF_SYSMENU | FCF_TITLEBAR | FCF_TASKLIST | FCF_MINBUTTON
  PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
    BEGIN
        CONTAINER  ID_CONTAINER, 0, 25, 285, 115, CCS_SINGLESEL | WS_GROUP
        PUSHBUTTON "~Purge",   PB_PURGE,    15, 5, 30, 15, WS_DISABLED
        PUSHBUTTON "~Add",     PB_ADD,      60, 5, 30, 15, WS_DISABLED
        PUSHBUTTON "~Delete",  PB_DELETE,  105, 5, 30, 15, WS_DISABLED
        PUSHBUTTON "~Change",  PB_CHANGE,  150, 5, 30, 15, WS_DISABLED
        PUSHBUTTON "~Refresh", PB_REFRESH, 195, 5, 30, 15, WS_DISABLED
        PUSHBUTTON "~Exit",    PB_EXIT,    240, 5, 30, 15
    END
END

MENU MAINMENU
BEGIN
  SUBMENU "~Edit", IDM_EDIT
    BEGIN
      MENUITEM "~Add",    IDM_ADD,    0, MIA_DISABLED
      MENUITEM "~Delete", IDM_DELETE, 0, MIA_DISABLED
      MENUITEM "~Change", IDM_CHANGE, 0, MIA_DISABLED
      MENUITEM SEPARATOR
      MENUITEM "~Purge",  IDM_PURGE,  0, MIA_DISABLED
    END

  SUBMENU "~Help", IDM_HELP, MIS_BUTTONSEPARATOR
    BEGIN
      MENUITEM "~About", IDM_ABOUT
    END
END

MENU POPUPMENU
BEGIN
  MENUITEM "~Add",    POP_ADD,    0, MIA_DISABLED
  MENUITEM "~Delete", POP_DELETE, 0, MIA_DISABLED
  MENUITEM "~Change", POP_CHANGE, 0, MIA_DISABLED
  MENUITEM SEPARATOR
  MENUITEM "~Purge",  POP_PURGE,  0, MIA_DISABLED
END

DLGTEMPLATE ABOUTWIN
BEGIN
  DIALOG "", ABOUTWIN, 15, 55, 190, 70,
         FS_DLGBORDER | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS
    BEGIN
      CONTROL "~OK", DID_OK, 5, 10, 40, 15, WC_BUTTON,
              BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
      CONTROL Title, 1001, 40, 50, 80, 15, WC_STATIC,
              SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE
      PRESPARAMS PP_FONTNAMESIZE "14.Helv"
      CONTROL "Программа работы с кэшем ARP", 1002, 5, 35, 180, 10, WC_STATIC,
              SS_TEXT | DT_CENTER | DT_TOP | DT_MNEMONIC | WS_VISIBLE
      PRESPARAMS PP_FONTNAMESIZE "10.Helv"
      CONTROL "Олег Жуков, 2003", 1003, 55, 20, 120, 10, WC_STATIC,
              SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
      PRESPARAMS PP_FONTNAMESIZE "10.Helvetica"
      CONTROL "zhk@ibs-ltd.kiev.ua", 1004, 55, 5, 80, 10, WC_STATIC,
              SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE
      PRESPARAMS PP_FONTNAMESIZE "10.Helv"
    END
END

DLGTEMPLATE ADDWIN PRELOAD MOVEABLE
BEGIN
  DIALOG "", ADDWIN, 50, 50, 125, 70, WS_VISIBLE, FCF_TITLEBAR
  PRESPARAMS PP_FONTNAMESIZE, "9.WarpSans"
    BEGIN
        LTEXT "IP address", TXT_IP, 5, 55, 40, 10, DT_VCENTER | NOT WS_GROUP
        ENTRYFIELD "", EF_IP, 50, 57, 70, 8,
                   NOT ES_AUTOSCROLL | ES_MARGIN | ES_AUTOTAB

        LTEXT "MAC address", TXT_MAC, 5, 40, 40, 10, DT_VCENTER | NOT WS_GROUP
        ENTRYFIELD "", EF_MAC1, 50, 42, 20, 8,
                   NOT ES_AUTOSCROLL | ES_MARGIN | ES_AUTOTAB
        LTEXT "-", TXT_D1, 70, 40, 5, 10, DT_VCENTER | NOT WS_GROUP
        ENTRYFIELD "", EF_MAC2, 75, 42, 20, 8,
                   NOT ES_AUTOSCROLL | ES_MARGIN | ES_AUTOTAB
        LTEXT "-", TXT_D2, 95, 40, 5, 10, DT_VCENTER | NOT WS_GROUP
        ENTRYFIELD "", EF_MAC3, 100, 42, 20, 8,
                   NOT ES_AUTOSCROLL | ES_MARGIN

        AUTOCHECKBOX    "Permanent", CB_PERM, 5,  25, 40, 10, WS_TABSTOP
        AUTOCHECKBOX    "Public",    CB_PUBL, 65, 25, 40, 10, WS_TABSTOP

        PUSHBUTTON "~Ok",      DID_OK,     20, 5, 30, 15
        PUSHBUTTON "~Cancel",  DID_CANCEL, 75, 5, 30, 15
    END
END
